.projects_container {
  padding: 1rem;
  background-color: var(--tetiary-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 2rem;
}

.projects_content {
  width: 100%;
  max-width: 70rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.works {
  padding: 1rem;
  height: 15rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.articles {
  padding: 1rem;
  height: 15rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--filter-navicons-color);
  color: var(--cards-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.btn1 {
  background-color: var(--filter-navicons-color);
  color: var(--cards-color);
}

@media screen and (min-width: 768px) {
  .projects_container {
    height: 100vh;
    padding: 1rem;
    background-color: var(--tetiary-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects_content {
    width: 100%;
    max-width: 70rem;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
  }

  .works {
    padding: 1rem;
    height: 22rem;
    max-width: 22rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .articles {
    padding: 1rem;
    height: 22rem;
    flex-direction: column;
    justify-content: space-between;
    max-width: 22rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}
