/* stylelint-disable csstree/validator */
.home_container {
  padding: 1rem;
  padding-top: 4rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(250deg, var(--primary-color), var(--tetiary-color), var(--secondary-color));
}

.home_content {
  padding-top: 6rem;
  gap: 2rem;
  z-index: 300;
  width: 100%;
  flex-direction: column-reverse;
  transition: all 0.3ms ease-in-out;
  font-size: clamp(1px, 7vw, 20px);
}

.home_item {
  display: block;
}

.img_container {
  display: none;
}

.text_content {
  flex-direction: column;
  gap: 1rem;
  max-width: 28rem;
  text-shadow: 1px 2px 1px var(--primary-color);
}

.home_back_drop {
  display: none;
}

.home_back_drop1 {
  max-width: 37rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.home_back_drop_img1 {
  width: 100%;
}

/* Ipad Mini portrait */
@media screen and (width: 768px) and (height: 1024px) {
  .home_container {
    align-items: center;
  }
}

/* Ipad Mini landscape */
@media screen and (width: 1024px) and (height: 768px) {
  .home_container {
    align-items: center;
  }
}

/* Ipad Air portrait */
@media screen and (width: 820px) and (height: 1180px) {
  .home_container {
    align-items: center;
  }
}

/* Ipad Air landscape */
@media screen and (height: 820px) and (width: 1180px) {
  .home_container {
    align-items: center;
  }
}

/* Surface Pro 7 portrait */
@media screen and (width: 912px) and (height: 1368px) {
  .home_container {
    align-items: center;
  }
}

/* Surface Pro 7 landscape */
@media only screen and (width: 1368px) and (height: 912px) {
  .home_container {
    align-items: center;
  }

  .text_content {
    font-size: 2rem;
    max-width: 40rem;
  }

  .img_container {
    height: 30rem;
    width: 30rem;
  }

  .home_btn {
    height: 5rem;
    width: 14rem;
    font-size: 1.6rem;
  }

  .home_icons {
    width: 2rem;
  }
}

@media screen and (width: 878px) and (height: 1180px) {
  .home_container {
    height: 37rem;
  }
}

@media screen and (min-width: 768px) {
  .home_container {
    padding: 0 0 1rem 0;
    align-items: center;
    height: 100vh;
  }

  .img_container {
    display: block;
    /* max-width: 25rem; */
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem 0;
    z-index: 400;
    background-color: var(--secondary-color);
  }

  .img {
    width: 100%;
    position: relative;
    top: 2.4rem;
  }

  .text_content {
    position: relative;
  }

  .home_content {
    padding-top: 1rem;
    flex-direction: row-reverse;
    max-width: 100rem;
    margin-left: 5%;
    align-items: flex-end;
    height: max-content;
  }

  .home_back_drop {
    display: block;
    max-width: 25rem;
    position: absolute;
    top: 1rem;
    right: 0;
  }

  .home_back_drop_img {
    width: 100%;
    filter: var(--filter-ellipse-color);
  }

  .home_back_drop1 {
    display: block;
    position: absolute;
    top: 1rem;
    max-width: 39rem;
    left: 4rem;
  }
}
