.sidenav {
  position: relative;
}

.open {
  right: -6rem;
  border-bottom-left-radius: 1rem;
  padding-left: 2rem;
  max-height: 25rem;
  animation: scale-in-right 800ms ease-in-out;
  backdrop-filter: grayscale(0.8) blur(10px);
  background-color: var(--secondary-color);
  filter: drop-shadow(-1px 1px 1px var(--accent-color));
}

.side_open {
  right: -6rem;
  opacity: 0.94;
}

@keyframes scale-in-right {
  20% {
    -webkit-transform: translate(1rem);
    transform: translate(1rem);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}

.close {
  right: -20rem;
  padding-left: 0.3rem;
  border-bottom-left-radius: 10%;
  max-height: 10rem;
  animation: scale-out-right 800ms ease-in-out;
}

.side_close {
  right: -20rem;
}

@keyframes scale-out-right {
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}

.hamburger_menu {
  z-index: 700;
  border-radius: 5px;
  position: fixed;
  top: 0.55rem;
  align-items: center;
  justify-content: center;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--accent-color);
  background-color: var(--primary-color);
}

.nav_content {
  flex-direction: column;
  z-index: 400;
  position: fixed;
  font-size: larger;
  top: 0;
  width: 22rem;
  padding-top: 7rem;
  gap: 1rem;
  text-decoration: none;
  height: 100%;
  transition: 0.4s ease-in-out;
  color: var(--accent-color);
}

.nav_list {
  flex-direction: column;
  gap: 1rem;
}

.nav_item {
  justify-content: space-between;
  width: 8rem;
}

.nav_text {
  width: 6rem;
  text-align: left;
  align-items: center;
}

.nav_icons {
  transition: 0.3s ease-in-out;
}

.hm_style {
  color: var(--accent-color);
  background-color: var(--primary-color);
  filter: drop-shadow(2px 2px 1px var(--accent-color));
}

.hide {
  pointer-events: none;
  cursor: none;
  opacity: 0;
  visibility: hidden;
}

.theme {
  cursor: pointer;
  position: absolute;
  top: 4.5rem;
  transition: 0.3s ease-in-out;
}

.theme_open {
  left: 2rem;
}

.theme_close {
  left: 0.2rem;
  color: var(--filter-icons-color);
}

.theme_icons {
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.icon_close {
  color: var(--filter-icons-color);
}

@media screen and (max-width: 768px) {
  .close {
    opacity: 0;
    visibility: hidden;
  }

  .open {
    overflow: scroll;
  }

  .open::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger_menu {
    right: 2.7rem;
  }
}
