:root {
  --bar-width: 2rem;
  --bar-height: 4px;
  --hamburger-gap: 3px;
  --hamburger-margin: 1.5rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.on {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 402;
}

.open {
  right: -6rem;
  border-bottom-left-radius: 1rem;
  padding-left: 2rem;
  max-height: 25rem;
  animation: scale-in-right 800ms ease-in-out;
  backdrop-filter: grayscale(0.8) blur(10px);
  background-color: var(--secondary-color);
  filter: drop-shadow(-1px 1px 1px var(--accent-color));
}

.side_open {
  right: -6rem;
  opacity: 0.94;
}

@keyframes scale-in-right {
  20% {
    -webkit-transform: translate(1rem);
    transform: translate(1rem);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}

.close {
  right: -20rem;
  padding-left: 0.3rem;
  border-bottom-left-radius: 10%;
  max-height: 10rem;
  animation: scale-out-right 800ms ease-in-out;
}

.side_close {
  right: -20rem;
}

@keyframes scale-out-right {
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}

.hamburger_menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  z-index: 700;
  border-radius: 5px;
  position: fixed;
  top: 1.07rem;
  right: 1rem;
  align-items: center;
  justify-content: center;
  gap: var(--hamburger-gap);
  font-size: 1.5rem;
  font-weight: 900;
  flex-direction: column;
}

.hamburger_menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  pointer-events: none;
  display: block;
}

.line {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--accent-color);
  border-radius: 3rem;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
  display: block;
  box-shadow: 1px 1px 1px var(--secondary-color);
}

.tilt {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  display: block;
}

.rtilt {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
  display: block;
}

.nav_content {
  flex-direction: column;
  z-index: 410;
  position: fixed;
  font-size: larger;
  top: 0;
  width: 22rem;
  padding-top: 7rem;
  gap: 1rem;
  text-decoration: none;
  height: 100%;
  transition: 0.4s ease-in-out;
  color: var(--accent-color);
}

.nav_list {
  flex-direction: column;
  gap: 1rem;
}

.nav_item {
  gap: 1rem;
}

.nav_text {
  width: 5rem;
  text-align: left;
  align-items: center;
}

.nav_icons {
  transition: 0.3s ease-in-out;
}

.hover_cover {
  width: 5rem;
  text-align: right;
}

.hover {
  position: relative;
  right: 13.5rem;
  padding: 0.2rem;
  border-radius: 5px;
  color: var(--tetiary-color);
  background-color: var(--accent-color);
}

.hide {
  pointer-events: none;
  cursor: none;
  opacity: 0;
  visibility: hidden;
}

.theme {
  cursor: pointer;
  position: absolute;
  top: 4.5rem;
  transition: 0.3s ease-in-out;
}

.theme_pc {
  z-index: 800;
  cursor: pointer;
  position: absolute;
  top: 1.4rem;
  right: 23rem;
}

.theme_pc_light {
  box-shadow: 1px 1px 1px var(--secondary-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
  padding: 2px;
}

.theme_open {
  left: 2rem;
}

.theme_close {
  left: 0.2rem;
  color: var(--filter-icons-color);
}

.theme_icons {
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.icon_close {
  color: var(--filter-icons-color);
}

@media screen and (max-width: 768px) {
  .close {
    opacity: 0;
    visibility: hidden;
  }

  .open {
    overflow: scroll;
  }

  .open::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger_menu {
    right: 2.7rem;
  }
}
