/* stylelint-disable csstree/validator */
h4 {
  font-size: 1.5rem;
}

.projects_content {
  width: 100%;
  max-width: 64.8rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: clamp(0.3rem, 5vw, 1.4rem);
}

.works {
  padding: 4rem 1rem;
  height: 22rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.articles {
  padding: 4rem 1rem;
  height: 22rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--ellipse-color);
  color: var(--cards-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.articles h4 {
  color: var(--cards-2-color);
}

.btn {
  background-color: var(--cards-2-color);
  color: var(--article-color);
}

@media screen and (min-width: 768px) {
  .projects_content {
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
  }

  .works {
    padding: 4rem 2rem;
    height: 27rem;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  .articles {
    padding: 4rem 2rem;
    height: 27rem;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0;
  }
}
