.project {
  gap: 1rem;
  padding: 0;
  margin-top: 5rem;
}

.project_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.project_cards {
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
}

.project_content {
  background-color: var(--filter-navicons-color);
  color: var(--cards-color);
  gap: 0.4rem;
  flex-direction: column;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.project_details {
  justify-content: space-between;
}

.tech_grp {
  gap: 0.5rem;
}

.btn {
  height: 2.5rem;
  width: 8rem;
  border: 1px solid var(--primary-color);
}

@media screen and (500px < width < 768px) {
  .project_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .project {
    height: unset;
  }

  .project_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
