.btn {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em;
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
  background-color: var(--accent-1-color);
  color: var(--primary-color);
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:active {
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  .btn:hover {
    width: 11.77rem;
  }
}
