.icon_container {
  width: max-content;
  gap: 0.5rem;
}

.icon_item {
  padding: 4px;
}

@media (hover: hover) and (pointer: fine) {
  .icon_img:hover {
    color: var(--icons-hover-color);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}
