/* $-header section-$ */
.header {
  justify-content: space-between;
}

.header-headline {
  z-index: 420;
  position: relative;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 1em;
}

.cream {
  background-color: var(--secondary-color);
}

.transparent {
  background-color: transparent;
}

.logo {
  opacity: 1;
  position: relative;
  font-weight: 700;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--tetiary-color);
  padding: 0.3rem;
}

.logo-img {
  opacity: 0.5;
  position: absolute;
  width: 3rem;
  border-radius: 5px;
}

.logo-text {
  z-index: 600;
  font-style: normal;
  font-size: small;
  filter: drop-shadow(1px 1px 1px var(--accent-color));
}

.logo:hover {
  filter: drop-shadow(2px 2px 2px  var(--accent-color));
  color: var(--accent-color);
}

.navbar {
  flex-direction: row-reverse;
  gap: 1rem;
}

.nav-menu {
  gap: 1em;
}

.item {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .logo {
    left: 2.4rem;
  }
}
