.icons-backdrop {
  border-radius: 8px;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  gap: 1.3rem;
  width: 100%;
  background-color: var(--secondary-color);
}

.icons-container {
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.icon-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.backdrop {
  align-items: center;
  max-width: 3rem;
  padding: 0.7rem;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.icon {
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .icon-container:hover {
    color: var(--icons-hover-color);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 580px) {
  .icons-backdrop {
    flex-direction: row;
    justify-content: space-between;
  }

  .icons-container {
    width: unset;
  }
}

@media screen and (min-width: 800px) {
  .backdrop {
    max-width: 3rem;
    padding: 0.7rem;
  }

  .icon-container {
    max-width: 5rem;
  }

  .icons-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icons-backdrop {
    justify-content: unset;
    flex-direction: column;
    max-width: 20.7rem;
    height: 18.6rem;
  }
}
