.skillspage {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 9rem;
  margin-top: 1rem;
}

.components {
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .skillspage {
    height: 40rem;
  }
}

@media (prefers-color-scheme: dark) {
  .skillspage {
    background-color: var(--primary-dark-color);
  }
}

@media (prefers-color-scheme: light) {
  .skillspage {
    background-color: var(--primary-color);
  }
}
