@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* stylelint-disable-next-line csstree/validator */

  --primary-color: #faf0e2;
  --secondary-color: #f7e6cf;
  --tetiary-color: #f9ebd9;
  --accent-color: #302625;
  --filter-ellipse-color: invert(19%) sepia(11%) saturate(1743%) hue-rotate(318deg) brightness(67%) contrast(133%);
  --filter-icons-color: invert(7%) sepia(5%) saturate(3984%) hue-rotate(318deg) brightness(14%) contrast(80%);
  --filter-navicons-color: #392424;;
}

body.dark {
  --primary-color: #575859;
  --secondary-color: #2c2e2f;
  --tetiary-color: #353738;
  --accent-color: #f7f4f3;
  --filter-ellipse-color: none;
  --filter-icons-color: none;
  --filter-navicons-color: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--accent-color);
  text-decoration: inherit;
}

.App {
  background-color: var(--tetiary-color);
  height: 100%;
  color: var(--accent-color);
}

.animate {
  transition: all 0.5s ease-in-out;
}

.heading {
  position: absolute;
  top: 2.5rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* $-Utility classes-$ */
.flex {
  display: flex;
}
