/* stylelint-disable csstree/validator */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color: #faf0e2;
  --secondary-color: #f7e6cf;
  --tetiary-color: #f9ebd9;
  --accent-color: #302625;
  --ellipse-color: #302625;
  --filter-icons-color: #734b17;
  --img-color: #534a49;
  --filter-navicons-color: #392424;
  --cards-color: #f9ebd9;
  --gradient-color: #baa5a5;
  --shadow-color: #39242435;
}

body.dark {
  --primary-color: #575859;
  --secondary-color: #2c2e2f;
  --tetiary-color: #353738;
  --accent-color: #d7d7d7bd;
  --ellipse-color: #232525;
  --filter-icons-color: #575859;
  --img-color: #2c2e2f;
  --filter-navicons-color: #303030;
  --cards-color: #d7d7d7bd;
  --gradient-color: #303030;
  --shadow-color: #282929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

/* $-width-$ */
body::-webkit-scrollbar {
  width: 10px;
}

/* $-Track-$ */
body::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

/* $-Handle-$ */
body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 8px;
}

/* $-Handle on hover-$ */
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

a {
  color: var(--accent-color);
  text-decoration: inherit;
}

.App {
  background-color: var(--primary-color);
  height: 100%;
  color: var(--accent-color);
}

.animate {
  transition: all 0.5s ease-in-out;
}

.heading {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: clamp(1rem, 7vw, 1.3rem);
  text-align: center;
}

.box_shadow {
  box-shadow: -10px 10px 11px 1px var(--shadow-color);
}

.head {
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

/* $-Utility classes-$ */
.flex {
  display: flex;
}

.back {
  position: relative;
  bottom: 1.5rem;
}
