.container {
  padding: 1rem;
  padding-top: 4rem;
  margin-bottom: 1rem;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--tetiary-color);
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
}
