.about_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}

.about_content {
  margin-top: 6rem;
  flex-direction: column;
  border-radius: 1rem;
  max-width: 40rem;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--secondary-color);
}

.about_header {
  border-radius: 50%;
  gap: 1rem;
  font-size: small;
  align-items: flex-end;
}

.img_container {
  align-items: center;
  max-width: 6.5rem;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.img {
  width: 100%;
  border-radius: 50%;
  background-color: var(--tetiary-color);
}

.cv_btn {
  max-width: 13rem;
}

@media screen and (min-width: 768px) {
  .about_container {
    height: 95vh;
  }
}
