/* stylelint-disable csstree/validator */

.about_content {
  flex-direction: column;
  border-radius: 1rem;
  max-width: 41.9rem;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--secondary-color);
}

.about_header {
  gap: 1rem;
  font-size: small;
  align-items: center;
}

h3 {
  font-size: clamp(1rem, 7vw, 1.5rem);
  margin-bottom: 0.5rem;
}

.bio {
  font-size: clamp(3px, 7vw, 1rem);
}

.bio_content {
  font-size: clamp(3px, 7vw, 1.1rem);
}

.img_container {
  align-items: center;
  padding-top: 0.7rem;
  max-width: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--secondary-color);
  background-color: var(--img-color);
}

.img {
  width: 100%;
}

.cv_btn {
  max-width: 13rem;
}

@media screen and (min-width: 768px) {
  .about_container {
    height: 95vh;
  }

  .about_header {
    gap: 1rem;
    font-size: small;
    align-items: flex-start;
    height: 5rem;
  }

  .img_container {
    position: relative;
    top: -2rem;
  }
}
