/* stylelint-disable csstree/validator */

.about_content {
  flex-direction: column;
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--secondary-color);
}

.about_header {
  gap: 1rem;
  font-size: small;
  align-items: center;
}

h3 {
  font-size: clamp(1rem, 5vw, 1.5rem);
  margin-bottom: 0.5rem;
}

.bio {
  font-size: clamp(3px, 5vw, 1rem);
}

.bio_wrap {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.bio_content {
  font-size: clamp(11px, 5vw, 1.5rem);
  text-align: justify;
}

.img_container {
  justify-content: center;
  max-width: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--tetiary-color);
  background-color: var(--img-color);
}

.img {
  width: 100%;
}

.cv_btn {
  max-width: 13rem;
}

@media screen and (min-width: 900px) {
  .about_header {
    /* width: 100%; */
    gap: 1rem;
    font-size: small;
    align-items: flex-start;
    flex-direction: column;
  }

  .about_content {
    flex-direction: row;
    max-width: 63.9rem;
    padding: 2rem;
    gap: 2rem;
  }

  .img_container {
    margin: 0 auto;
    max-width: unset;
    width: 13rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    background-color: var(--img-color);
  }

  .bio_wrap {
    justify-content: space-between;
  }
}
